<div ng-controller="DashboardController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>Pacienti</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="patients.dashboard">Auxologie</a>
                </li>
                <li class="active">
                    <strong>Pacienti</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4 text-right">
            <br/>
            <br/>
            <a ui-sref="patients.new" class="btn btn-default">
                <i class="fa fa-plus"></i> Nový pacient
            </a>
            <a ui-sref="patients.list" class="btn btn-default">
                <i class="fa fa-list"></i> Seznam pacientů
            </a>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right" ng-show="lastExamination">Poslední vyšetření: <i class="fa fa-clock-o"></i> {{lastExamination.dateTime | date}}</span>
                        <h2>Pacienti</h2>
                        <p>
                            Můžete vyhledat pacienta podle příjmení nebo rodného čísla.
                        </p>
                        <form ng-submit="search()">
                            <div class="input-group">
                                <input type="text" placeholder="Vyhledat pacienta" class="input form-control" ng-model="searchToken" required="required"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-primary"><i class="fa fa-search"></i>
                                        Hledat
                                    </button>
                                </span>
                            </div>
                        </form>
                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted">{{patients.length}} výsledků</span>
                                <li class="active">
                                    <a><i class="fa fa-user"></i> Pacienti</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll" full-scroll>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Jméno</th>
                                                    <th>Pohlaví</th>
                                                    <th>Rodné číslo</th>
                                                    <th>Datum narození</th>
                                                    <th>GT narození</th>
                                                    <th>porodní váha</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="p in patients">
                                                    <td class="client-avatar"><img alt="image" src="img/a2.jpg"></td>
                                                    <td class="text-center">
                                                        <a ui-sref="patients.detail({id: p.Patient.id})" class="client-link">{{p.Person.firstName}} {{p.Person.lastName}}</a>
                                                    </td>
                                                    <td>
                                                        <i class="fa" ng-class="{'fa-male': p.Person.gender == 'male', 'fa-female': p.Person.gender == 'female'}"></i>
                                                    </td>
                                                    <td>{{p.Person.birthNumber}}</td>
                                                    <td>{{p.Person.birthNumber | birthDate}}</td>
                                                    <td>{{p.Patient.birthWeek}}. GT</td>
                                                    <td>{{p.Patient.birthWeight}} g</td>
                                                </tr>
                                                <tr ng-hide="patients.length">
                                                    <td></td>
                                                    <td colspan="4">Žádní pacienti.</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox ">

                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">
                                <div ng-show="selectedPatient">
                                    <div class="row m-b-lg">
                                        <div class="col-lg-4 text-center">
                                            <h2>Antonín Vomáčka</h2>

                                            <div class="m-b-sm">
                                                <img alt="image" class="img-circle" src="img/a2.jpg"
                                                     style="width: 62px">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <strong>
                                                Poznámka
                                            </strong>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <a ui-sref="examinations.new" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-plus"></i> Nové vyšetření
                                            </a>
                                            <a ui-sref="patients.detail" class="btn btn-default btn-sm btn-block"><i
                                                    class="fa fa-user"></i> Detail pacienta
                                            </a>
                                        </div>
                                    </div>
                                    <div class="client-detail">
                                        <div class="full-height-scroll" full-scroll>

                                            <strong>Poslední návštěva</strong>

                                            <ul class="list-group clear-list">
                                                <li class="list-group-item fist-item">
                                                    <span class="pull-right"> 09:00 </span>
                                                    19.1.2016
                                                </li>
                                            </ul>
                                            <strong>Poznámky</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <hr/>
                                            <strong>Časová osa</strong>
                                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon gray-bg">
                                                        <i class="fa fa-tachometer"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Vstupní vyšetření</p>
                                                        <span class="vertical-date small text-muted"> 20.12.2015 12:30 </span>
                                                    </div>
                                                </div>
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon gray-bg">
                                                        <i class="fa fa-child"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Narozen
                                                        </p>
                                                        <span class="vertical-date small text-muted"> 12.12.2015 4:20 </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="selectedPatient"><i class="fa fa-info-circle"></i> Pro náhled nejprve zvolte pacienta.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>