<style>
    .border {
        border-right: 1px solid lightgray;
    }
</style>

<div ng-controller="DetailController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detail pacienta {{patient.Person.firstName}} {{patient.Person.lastName}} (ID {{patient.Patient.id}})</h2>
            <ol class="breadcrumb hidden-print">
                <li>
                    <a href="index.html">Monitoring růstu nedonošených dětí</a>
                </li>
                <li>
                    <a href="/patients">Pacienti</a>
                </li>
                <li class="active">
                    <strong>Detail pacienta {{patient.Person.firstName}} {{patient.Person.lastName}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2 text-right hidden-print" style="padding-top: 40px;">
            <button class="btn btn-default" ng-click="print()"><i class="fa fa-print"></i> Tisk</button>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <span style="color: {{genderColor()}}">
                                <i class="fa" ng-class="{'fa-male': patient.Person.gender == 'male', 'fa-female': patient.Person.gender == 'female'}"></i>
                                {{patient.Person.firstName}} {{patient.Person.lastName}}
                            </span>
                            <small>({{ patient.Person.birthNumber | birthNumber }})</small>
                        </h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" ng-src="{{examinations[0].image}}" ng-show="examinations[0].image" style="margin: auto">
                        </div>
                        <div class="ibox-content profile-content">
                            <h5>Věk</h5>

                            <table class="table">
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Datum narození dle r.č.</th>
                                    <td>{{ patient.Person.birthNumber | birthDate }}</td>
                                </tr>
                                <!--
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Datum narození</th>
                                    <td>{{ patient.Person.birthDate | formatDate }}</td>
                                </tr>-->
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Kalkulovaný termín porodu</th>
                                    <td>{{patient | expectedBirth }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Plánovaný termín porodu</th>
                                    <td>{{patient.Patient.expectedBirthDate | formatDate}}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Gestační věk při narození</th>
                                    <td>{{ patient.Patient.birthWeek }}. týden</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Gestační věk (dnes)</th>
                                    <td>{{ patient | gestationalAge }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Korigovaný věk</th>
                                    <td>{{ patient | correctedAge }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Kalendářní věk</th>
                                    <td>{{ patient | age }}</td>
                                </tr>
                            </table>

                            <h5 ng-show="patient.Person.description">
                                Poznámky
                            </h5>
                            <p>
                                {{patient.Person.description}}
                            </p>

                            <div class="row m-t-lg" ng-if="examinations && examinations.length">
                                <div class="col-md-4">
                                    {{inlineDataLength | json}}
                                    <div sparkline spark-data="inlineData.length" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].length | mmToCm }} cm</strong> délka</h5>
                                </div>
                                <div class="col-md-4">
                                    {{inlineDataWeight | json}}
                                    <div sparkline spark-data="inlineData.weight" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].weight}} g</strong> hmotnost</h5>
                                </div>
                                <div class="col-md-4">
                                    {{inlineDataCircumference | json}}
                                    <div sparkline spark-data="inlineData.circumference" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].headCircumference | mmToCm }} cm</strong> hlava</h5>
                                </div>
                            </div>
                            <div class="user-button hidden-print">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a ui-sref="examinations.new({patientId: patient.Patient.id})" class="btn btn-primary btn-sm btn-block">
                                            <i class="fa fa-plus"></i> Nové vyšetření
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a ui-sref="patients.edit({id: patient.Patient.id})" class="btn btn-default btn-sm btn-block"><i class="fa fa-pencil"></i> Upravit pacienta </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block" ng-click="archive()"><i
                                                class="fa fa-archive"></i> Archivovat
                                        </button>
                                    </div>
                                    <div class="col-lg-6">
                                        <a ng-click="delete()" class="btn btn-danger btn-sm btn-block"><i class="fa fa-remove"></i> Smazat pacienta </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 hidden-print">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Karta pacienta
                            <small>{{examinations.length}} vyšetření</small>
                        </h5>
                    </div>
                    <div class="ibox-content" ng-show="examinations && examinations.length">

                        <div>
                            <div class="feed-activity-list col-lg-6" ng-repeat="e in examinations" ng-show="$index < 4 || showAll" style="margin-bottom: 10px">

                                <div class="feed-element">
                                    <a href="" class="pull-left">
                                        <img alt="image" class="img-circle" ng-src="{{e.image}}" ng-show="e.image">
                                    </a>

                                    <div class="media-body">
                                        <!--<small class="pull-right text-navy">1 měsíc</small>-->
                                        <strong>Vyšetření {{e.dateTime | formatDateTime}}</strong>
                                        <small class="text-muted">({{patient | correctedAge : e.dateTime}})</small>
                                        <p>{{e.description || "Žádné poznámky."}}</p>
                                        <table class="table table-condensed">
                                            <tr>
                                                <th>Tělěsná délka</th>
                                                <td>{{e.length | mmToCm }} cm</td>
                                            </tr>
                                            <tr>
                                                <th>Tělěsná hmotnost</th>
                                                <td>{{e.weight}} g</td>
                                            </tr>
                                            <tr>
                                                <th>Obvod hlavy</th>
                                                <td>{{e.headCircumference | mmToCm }} cm</td>
                                            </tr>
                                        </table>
                                        <div class="actions pull-right">
                                            <a ui-sref="examinations.edit({patientId: patient.Patient.id, examinationId: e.id})" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Změnit </a>
                                            <button ng-click="deleteExamination(e)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Smazat </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 30%; margin: auto;">
                                <button class="btn btn-primary btn-block m" ng-show="examinations.length > 2 && !showAll" ng-click="showAll = true">
                                    <i class="fa fa-arrow-down"></i> Zobrazit více
                                </button>

                                <button class="btn btn-primary btn-block m" ng-show="examinations.length > 2 && showAll" ng-click="showAll = false">
                                    <i class="fa fa-arrow-up"></i> Zobrazit méně
                                </button>
                            </div>

                        </div>

                        
                        <div style="clear: both;">&nbsp;</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row patient-charts">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Grafy
                            <small>
                                <span> - {{genderName()}}</span>
                                <span>s tělesnou hmotností při porodu</span>
                                <span>{{weightCategoryName()}}</span>
                                1500 g (porodní hmotnost pacienta: {{patient.Patient.birthWeight}} g)
                            </small>
                        </h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-6 patient-chart" style="position: relative">
                                <div google-chart chart="lengthChart" style="{{lengthChart.cssStyle}}"/>
                                <i class="fa fa-search-plus" style="cursor: pointer; position: absolute; bottom: 0; right: 0;" ng-click="zoom(lengthChart)"></i>
                            </div>
                            <div class="col-md-6 patient-chart" style="position: relative">
                                <div google-chart chart="weightChart" style="{{weightChart.cssStyle}}"/>
                                <i class="fa fa-search-plus" style="cursor: pointer; position: absolute; bottom: 0; right: 0;" ng-click="zoom(weightChart)"></i>
                            </div>
                            <div class="col-md-6 patient-chart" style="position: relative">
                                <div google-chart chart="weightForLengthChart" style="{{weightForLengthChart.cssStyle}}"/>
                                <i class="fa fa-search-plus" style="cursor: pointer; position: absolute; bottom: 0; right: 0;" ng-click="zoom(weightForLengthChart)"></i>
                            </div>
                            <div class="col-md-6 patient-chart" style="position: relative">
                                <div google-chart chart="headCircumferenceChart" style="{{headCircumferenceChart.cssStyle}}"/>
                                <i class="fa fa-search-plus" style="cursor: pointer; position: absolute; bottom: 0; right: 0;" ng-click="zoom(headCircumferenceChart)"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox float-e-margins" ng-show="examinations && examinations.length">
                    <div class="ibox-title">
                        <h5>Tabelovaná data
                            <small>Shrnutí všech vyšetření</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th rowspan="2">#</th>
                                <th rowspan="2">Datum</th>
                                <th rowspan="2">Korigovaný věk</th>
                                <th colspan="3" class="border">Hmotnost</th>
                                <th colspan="3" class="border">Délka</th>
                                <th colspan="3" class="border">Obvod hlavy</th>
                                <th colspan="3">Hmotnost k délce</th>
                            </tr>
                            <tr>
                                <th>[g]</th>
                                <th>P</th>
                                <th class="border">SDS</th>
                                <th>[cm]</th>
                                <th>P</th>
                                <th class="border">SDS</th>
                                <th>[cm]</th>
                                <th>P</th>
                                <th class="border">SDS</th>
                                <th>P</th>
                                <th>SDS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="e in examinations">
                                <td>{{examinations.length - $index}}</td>
                                <td>{{e.dateTime | formatDateTime}}</td>
                                <td>{{patient | correctedAge : e.dateTime}}</td>
                                <td><nobr>{{e.weight}}</nobr></td>
                                <td>{{computePercentile(e.weight, 'weight', e.dateTime)}}</td>
                                <td class="border"><nobr>{{zScore(e.weight, 'weight', e.dateTime)}}</nobr></td>
                                <td>{{e.length | mmToCm }}</td>
                                <td>{{computePercentile(e.length, 'length', e.dateTime)}}</td>
                                <td class="border"><nobr>{{zScore(e.length, 'length', e.dateTime)}}</nobr></td>
                                <td>{{e.headCircumference | mmToCm }}</td>
                                <td>{{computePercentile(e.headCircumference, 'headCircumference', e.dateTime)}}</td>
                                <td class="border"><nobr>{{zScore(e.headCircumference, 'headCircumference', e.dateTime)}}</nobr></td>
                                <td>{{computeWfLPercentile(e.weight, e.length)}}</td>
                                <td><nobr>{{zScoreWfL(e.weight, e.length)}}</nobr></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">

                <div class="ibox float-e-margins hidden-print">
                    <div class="ibox-title">
                        <h5>Informace o rodičích</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6" ng-repeat="p in parents | orderBy: 'gender'">
                                <h5 ng-if="p.Person.gender == 'female'">Matka</h5>
                                <h5 ng-if="p.Person.gender == 'male'">Otec</h5>
                                <table class="table">
                                    <tr>
                                        <th>Rodné číslo</th>
                                        <td>{{p.Person.birthNumber | birthNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th>Datum narození</th>
                                        <td>{{p.Person.birthNumber | birthDate}}</td>
                                    </tr>
                                    <tr>
                                        <th>Příjmení</th>
                                        <td>{{p.Person.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <th>Jméno</th>
                                        <td>{{p.Person.firstName}}</td>
                                    </tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    <tr>
                                        <th>Hmotnost [kg]</th>
                                        <td>{{p.Person.weight/1000 || ''}}</td>
                                    </tr>
                                    <tr>
                                        <th>Výška [cm]</th>
                                        <td>{{p.Person.length | mmToCm }}</td>
                                    </tr>
                                    <tr>
                                        <th>Obvod hlavy [cm]</th>
                                        <td>{{p.Person.headCircumference | mmToCm }}</td>
                                    </tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    <tr>
                                        <th>Poznámky</th>
                                        <td>{{p.Person.description}}</td>
                                    </tr>
                                    <tr>
                                        <th>Telefon</th>
                                        <td>{{p.Person.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>E-mail</th>
                                        <td>{{p.Person.email}}</td>
                                    </tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    <tr>
                                        <th>Ulice</th>
                                        <td>{{p.Address.street}}</td>
                                    </tr>
                                    <tr>
                                        <th>Město</th>
                                        <td>{{p.Address.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>PSČ</th>
                                        <td>{{p.Address.zipcode}}</td>
                                    </tr>
                                    <tr>
                                        <th>Země</th>
                                        <td>{{p.Address.country}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="featuredChart" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: white; z-index: 1000">
        <div style="position: absolute; top: 10px; right: 10px; z-index: 2; cursor: pointer" ng-click="close()"><i class="fa fa-times" style="font-size: 30px"></i></div>
        <div google-chart chart="featuredChart" style="{{featuredChart.cssStyle}}"/>
    </div>
</div>