<div ng-controller="DetailController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detail pacienta</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Auxologie</a>
                </li>
                <li>
                    <a href="/patients">Pacienti</a>
                </li>
                <li class="active">
                    <strong>Detail pacienta {{patient.Person.firstName}} {{patient.Person.lastName}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa" ng-class="{'fa-male': patient.Person.gender == 'male', 'fa-female': patient.Person.gender == 'female'}"></i> {{patient.Person.firstName}}
                            {{patient.Person.lastName}}</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h5>Věk</h5>

                            <table class="table">
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Datum narození</th>
                                    <td>{{ patient.Person.birthNumber | birthDate }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Gestační týden narození</th>
                                    <td>{{ patient.Patient.birthWeek }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Aktuální gestační věk</th>
                                    <td>{{ patient | gestationalAge }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Korigovaný věk ({{patient | expectedBirth}})</th>
                                    <td>{{ patient | correctedAge }}</td>
                                </tr>
                                <tr>
                                    <th><i class="fa fa-calendar"></i> Kalendářní věk</th>
                                    <td>{{ patient | age }}</td>
                                </tr>
                            </table>

                            <h5 ng-show="patient.Person.description">
                                Poznámky
                            </h5>
                            <p>
                                {{patient.Person.description}}
                            </p>

                            <div class="row m-t-lg" ng-show="examinations && examinations.length">
                                <div class="col-md-4">
                                    {{inlineDataCircumference | json}}
                                    <div sparkline spark-data="inlineData.circumference" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].headCircumference}} mm</strong> hlava</h5>
                                </div>
                                <div class="col-md-4">
                                    {{inlineDataWeight | json}}
                                    <div sparkline spark-data="inlineData.weight" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].weight}} g</strong> hmotnost</h5>
                                </div>
                                <div class="col-md-4">
                                    {{inlineDataLength | json}}
                                    <div sparkline spark-data="inlineData.length" spark-options="inlineOptions"></div>
                                    <h5><strong>{{examinations[0].length}} mm</strong> délka</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a ui-sref="examinations.new({patientId: patient.Patient.id})" class="btn btn-primary btn-sm btn-block">
                                            <i class="fa fa-plus"></i> Nové vyšetření
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i
                                                class="fa fa-archive"></i> Archivovat
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Karta pacienta
                            <small>{{examinations.length}} vyšetření</small>
                        </h5>
                    </div>
                    <div class="ibox-content" ng-show="examinations && examinations.length">

                        <div>
                            <div class="feed-activity-list" ng-repeat="e in examinations" ng-show="$index == 0 || showAll">

                                <div class="feed-element">
                                    <a href="" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a1.jpg">
                                    </a>

                                    <div class="media-body">
                                        <small class="pull-right text-navy">1 měsíc</small>
                                        <strong>Vyšetření ve věku {{patient | correctedAge : e.dateTime}}</strong>
                                        <p>{{e.description}}</p>
                                        <small class="text-muted">{{e.dateTime | formatDateTime}}</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Změnit </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary btn-block m" ng-show="examinations.length > 1 && !showAll" ng-click="showAll = true">
                                <i class="fa fa-arrow-down"></i> Zobrazit více
                            </button>

                        </div>

                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Grafy
                            <small>Referenční skupina:
                                <span ng-show="patient.Person.gender == 'male'">Chlapci</span>
                                <span ng-show="patient.Person.gender == 'female'">Dívky</span>

                                <span ng-show="patient.Patient.birthWeight < 1500">pod</span>
                                <span ng-show="patient.Patient.birthWeight >= 1500">nad</span>
                                1500 g ({{patient.Patient.birthWeight}} g)
                            </small>
                        </h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-6">
                                <strong>hmotnost</strong>
                                <div google-chart chart="weightChart" style="{{weightChart.cssStyle}}"/>
                            </div>
                            <div class="col-md-6">
                                <strong>Délka</strong>
                                <div google-chart chart="lengthChart" style="{{lengthChart.cssStyle}}"/>
                            </div>
                            <div class="col-md-6">
                                <strong>hmotnost ku délce</strong>
                                <div google-chart chart="weightForLengthChart" style="{{weightForLengthChart.cssStyle}}"/>
                            </div>
                            <div class="col-md-6">
                                <strong>Obvod hlavy</strong>
                                <div google-chart chart="headCircumferenceChart" style="{{headCircumferenceChart.cssStyle}}"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="examinations && examinations.length">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tabelovaná data
                            <small>Shrnutí všech vyšetření</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Datum</th>
                                <th>Korigovaný věk</th>
                                <th>Hmotnost
                                    <nobr>[g]</nobr>
                                </th>
                                <th>%</th>
                                <th>SD</th>
                                <th>Délka
                                    <nobr>[mm]</nobr>
                                </th>
                                <th>%</th>
                                <th>SD</th>
                                <th>Hmotnost k délce
                                    <nobr>[g / mm]</nobr>
                                </th>
                                <th>%</th>
                                <th>SD</th>
                                <th>Obvod hlavy
                                    <nobr>[mm]</nobr>
                                </th>
                                <th>%</th>
                                <th>SD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="e in examinations">
                                <td>{{examinations.length - $index}}</td>
                                <td>{{e.dateTime | formatDateTime}}</td>
                                <td>{{patient | correctedAge : e.dateTime}}</td>
                                <td>{{e.weight}}</td>
                                <td>98.</td>
                                <td>+2</td>
                                <td>{{e.length}}</td>
                                <td>98.</td>
                                <td>+2</td>
                                <td>{{(e.weight / e.length) | number : 2}}</td>
                                <td>98.</td>
                                <td>+2</td>
                                <td>{{e.headCircumference}}</td>
                                <td>98.</td>
                                <td>+2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>