<div ng-controller="PatientController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2 ng-hide="currentPatient">Nový pacient</h2>
            <h2 ng-show="currentPatient">Editace pacienta</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="patients.dashboard">Monitoring růstu nedonošených dětí</a>
                </li>
                <li>
                    Pacienti
                </li>
                <li class="active">
                    <strong ng-hide="currentPatient">Nový pacient</strong>
                    <strong ng-show="currentPatient">{{currentPatient.Person.firstName}} {{currentPatient.Person.lastName}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" ng-submit="createPatient()" novalidate>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Nový pacient
                                <small>Zadejte, prosím, údaje potřebné pro evidenci nového pacienta.</small>
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">* Rodné číslo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="880426/1234" required="required" birth-number ng-model="patient.birthNumber"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Datum narození</label>
                                <div class="col-lg-10"><p class="form-control-static">{{patient.birthNumber | birthDate}}</p></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Plánované datum porodu</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="17. 3. 2016" ng-model="patient.expectedBirthDate"/>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">* Pohlaví</label>
                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="account" required="required" ng-model="patient.gender">
                                        <option>---</option>
                                        <option value="female">Dívka</option>
                                        <option value="male">Chlapec</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">* Porodní hmotnost</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="2345" required="required" ng-model="patient.birthWeight"/>
                                        <span class="input-group-addon">&nbsp;&nbsp;g</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">* Gestační týden (narození)</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="28" max="37" min="0" required="required" ng-model="patient.birthWeek"/>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Jméno</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Jan" ng-model="patient.firstname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Příjmení</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Novák" ng-model="patient.lastname">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Poznámky</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="Poznámky" ng-model="patient.description"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Porodní délka</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="520" ng-model="patient.birthLength"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(patient.birthLength)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(patient.birthLength)">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Obvod hlavy při porodu</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="375" ng-model="patient.birthHeadCircumference"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(patient.birthHeadCircumference)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(patient.birthHeadCircumference)">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Matka
                                <small>Zadejte, prosím, údaje o matce pacienta.</small>
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rodné číslo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="880426/1234" birth-number ng-model="mother.birthNumber"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Datum narození</label>
                                <div class="col-lg-10"><p class="form-control-static">{{mother.birthNumber | birthDate}}</p></div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Výška</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="520" ng-model="mother.length"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(mother.length)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(mother.length)">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hmotnost</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="520" ng-model="mother.weight"/>
                                        <span class="input-group-addon">&nbsp;&nbsp;g</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Obvod hlavy</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="375" ng-model="mother.headCircumference"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(mother.headCircumference)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(mother.headCircumference)">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pohlaví</label>
                                <div class="col-lg-10"><p class="form-control-static">Žena</p></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Jméno</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Jana" ng-model="mother.firstname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Příjmení</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Nováková" ng-model="mother.lastname">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Poznámky</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="mother.description"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ulice</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Pražská 38" ng-model="mother.address.street">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Město</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Brandýs nad Labem" ng-model="mother.address.city">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Země</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Česká republika" ng-model="mother.address.country">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">PSČ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="13526" ng-model="mother.address.zipcode">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telefon</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="777 777 770" ng-model="mother.phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" placeholder="jana@novak.cz" ng-model="mother.email">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Otec
                                <small>Zadejte, prosím, údaje o otci pacienta.</small>
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rodné číslo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="880426/1234" birth-number ng-model="father.birthNumber"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Datum narození</label>
                                <div class="col-lg-10"><p class="form-control-static">{{father.birthNumber | birthDate}}</p></div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Výška</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="520" ng-model="father.length"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(father.length)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(father.length)">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hmotnost</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="520" ng-model="father.weight"/>
                                        <span class="input-group-addon">&nbsp;&nbsp;g</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Obvod hlavy</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" placeholder="375" ng-model="father.headCircumference"/>
                                        <span class="input-group-addon" ng-show="hasDecimal(father.headCircumference)">cm</span>
                                        <span class="input-group-addon" ng-hide="hasDecimal(father.headCircumference)">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pohlaví</label>
                                <div class="col-lg-10"><p class="form-control-static">Muž</p></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Jméno</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Jan" ng-model="father.firstname"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Příjmení</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Novák" ng-model="father.lastname">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Poznámky</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="father.description"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ulice</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Pražská 38" ng-model="father.address.street">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Město</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Brandýs nad Labem" ng-model="father.address.city">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Země</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Česká republika" ng-model="father.address.country">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">PSČ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="13526" ng-model="father.address.zipcode">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telefon</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="777 777 777" ng-model="father.phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" placeholder="jan@novak.cz" ng-model="father.email">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 ng-hide="currentPatient">Vytvořit pacienta</h5>
                            <h5 ng-show="currentPatient">Upravit detaily pacienta</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2 text-right">
                                    <button class="btn btn-white" type="submit">Storno</button>
                                    <button class="btn btn-primary" type="submit" ng-hide="currentPatient">Přidat pacienta</button>
                                    <button class="btn btn-primary" type="submit" ng-show="currentPatient">Upravit detaily pacienta</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>