<div ng-controller="NewExaminationController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Nové vyšetření</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Auxologie</a>
                </li>
                <li>
                    Pacienti
                </li>
                <li>
                    Karel Vomáčka
                </li>
                <li class="active">
                    <strong>Nové vyšetření</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <form method="get" class="form-horizontal" ng-submit="createExamination()">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Nové vyšetření
                                <small>Zadejte, prosím, naměřené údaje.</small>
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Datum vyšetření</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="17. 3. 2016" ng-bind="examination.dateTime"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Poznámky</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-bind="patient.description"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">hmotnost</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="2345" ng-bind="patient.birthWeight"/>
                                        <span class="input-group-addon">&nbsp;&nbsp;g</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Délka</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="520" ng-bind="patient.birthLength"/>
                                        <span class="input-group-addon">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Obvod hlavy</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="number" class="form-control" placeholder="375" ng-bind="patient.birthHeadCircumference"/>
                                        <span class="input-group-addon">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2 text-right">
                                    <button class="btn btn-white" type="submit">Storno</button>
                                    <button class="btn btn-primary" type="submit">Přidat měření</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>