<div class="loginColumns animated fadeInDown" ng-controller="LoginController">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Auxologie nedonošenců</h2>

            <p>
                Tento program pro sledování růstu nedonošených dětí
                je založen na referenčních růstových (auxologických)
                datech a percentilových růstových grafech
                pro monitorování růstu nedonošených dětí v ČR.
            </p>
            <p>
                Percentilové grafy a referenční data jsou založena
                na zpracování souboru auxologických dat 1781 dětí
                (846 dívek, 935 chlapců) vyšetřovaných ve věku
                od 37. týdne do 109. týdne GA v
                Centru komplexní péče KDDL VFN Praha v letech 2001 až 2015.
                Celkem bylo statisticky zpracováno 5676 vyšetření
                (využita metoda LMS kvantilové regrese).
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" ng-submit="login()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Uživatelské jméno" required="required" ng-model="username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Heslo" required="required" ng-model="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Přihlásit se</button>

                    <!--
                    <a href="#">
                        <small>Zapomenuté heslo</small>
                    </a>
                    -->

                    <a class="btn btn-sm btn-white btn-block" href="#/register">Vytvořit účet</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div>

    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-center">
            <small>
                &copy; 2016 RNDr. Jiří Helmich
                <br/>odborný dohled: doc. RNDr. Hana Krásničanová CSc
                <br/>statistické zpracování dat: Mgr. Marie Hladíková
            </small>
        </div>
        <br/><br/><br/><br/>
        <div class="col-md-12 text-center" style="background-color: white; margin: 20px; padding: 20px">
            <small>
                Tento program byl podpořen v rámci projektu <em>"Nové metody v následné péči o děti s perinatální zátěží v CKP KDDL VFN"</em>, <nobr>reg. č. NF-CZ11-OV-1-009-2015</nobr>.
                <br/><br/>
                Podpořeno grantem z Norska. Supported by a grant from Norway.
            </small>
            <br/>
            <br/>
            <p>
                <img src="img/norsko.png" width="150" />
                <img src="img/vfn.jpg" width="70" />
            </p>
        </div>
    </div>
</div>