
<div class="loginColumns animated fadeInDown" ng-controller="LoginController">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Auxologie 2016</h2>

            <p>
                Aplikace pro monitoring růstu nedonošených dětí.
            </p>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </p>

            <p>
                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</small>
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form class="m-t" role="form" ng-submit="login()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Uživatelské jméno" required="required" ng-model="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Heslo" required="required" ng-model="password" />
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Přihlásit se</button>

                    <!--
                    <a href="#">
                        <small>Zapomenuté heslo</small>
                    </a>
                    -->

                    <a class="btn btn-sm btn-white btn-block" href="#/register">Vytvořit účet</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright Example Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>