<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Grafy</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#/">Auxologie nedonošenců</a>
            </li>
            <li class="active">
                <strong>Grafy</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-controller="ChartController">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': activeTab == 1}"><a href="" ng-click="chart(1, 'under', 'male')">Chlapci pod 1500 g</a></li>
                <li ng-class="{'active': activeTab == 2}"><a href="" ng-click="chart(2, 'under', 'female')">Dívky pod 1500 g</a></li>
                <li ng-class="{'active': activeTab == 3}"><a href="" ng-click="chart(3, 'above', 'male')">Chlapci nad 1500 g</a></li>
                <li ng-class="{'active': activeTab == 4}"><a href="" ng-click="chart(4, 'above', 'female')">Dívky nad 1500 g</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Graf tělesné délky
                                    <small></small>
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div google-chart chart="lengthChart" style="{{lengthChart.cssStyle}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Graf tělesné hmotnosti
                                    <small></small>
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div google-chart chart="weightChart" style="{{weightChart.cssStyle}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Graf tělesné hmotnosti k délce
                                    <small></small>
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div google-chart chart="weightForLengthChart" style="{{weightForLengthChart.cssStyle}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Graf obvodu hlavy
                                    <small></small>
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div google-chart chart="headCircumferenceChart" style="{{headCircumferenceChart.cssStyle}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
</div>