<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detail pacienta</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Auxologie</a>
            </li>
            <li class="active">
                <strong>Detail pacienta</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detail pacienta</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>Karel Vomáčka</strong></h4>

                        <p><i class="fa fa-map-marker"></i> Praha</p>
                        <h5>
                            Poznámky
                        </h5>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitat.
                        </p>

                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                <bar-chart data="main.BarChart3.data" options="main.BarChart3.options"></line-bar>
                                    <h5><strong>42 cm</strong> hlava</h5>
                            </div>
                            <div class="col-md-4">
                                <line-chart data="main.LineChart.data" options="main.LineChart.options"></line-bar>
                                    <h5><strong>3560 g</strong> váha</h5>
                            </div>
                            <div class="col-md-4">
                                <bar-chart data="main.BarChart2.data" options="main.BarChart2.options"></line-bar>
                                    <h5><strong>28.</strong> GT</h5>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-plus"></i> Nové vyšetření
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i
                                            class="fa fa-archive"></i> Archivovat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Grafy</h5>
                </div>
                <div class="ibox-content">

                    <div>

                    </div>

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Karta pacienta</h5>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <a href="" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a1.jpg">
                                </a>

                                <div class="media-body ">
                                    <small class="pull-right text-navy">1 měsíc</small>
                                    <strong>Běžné vyšetření.</strong>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <small class="text-muted">21.12.2015 12:37</small>
                                    <div class="actions">
                                        <!--<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Zobrazit více
                        </button>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
