<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="DoctorController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{doctor.titlePrefix}} {{doctor.firstName}} {{doctor.lastName || "Anonymní lékař"}} {{doctor.titlePostfix}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{doctor.workplace}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a ui-sref="doctor.editProfile">Upravit profil</a></li>
                        <li><a ui-sref="logout">Odhlásit se</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    M
                </div>
            </li>

            <li ng-class="{active: $state.includes('patients')}">
                <a ui-sref="patients.dashboard"><i class="fa fa-user"></i> <span class="nav-label">Pacienti</span></a>
            </li>

            <li ng-class="{active: $state.includes('charts')}">
                <a ui-sref="charts.flot_chart"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafy</span></a>
            </li>
        </ul>

    </div>
</nav>